nodes/flow/CHSH-flow.json
[
    {
        "id": "8729a9f4aa9668a1",
        "type": "tab",
        "label": "CHSH-game Flow",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7c64ba741ca9f43",
        "type": "CHSH-game-classic",
        "z": "8729a9f4aa9668a1",
        "name": " Classical strategy",
        "x": 930,
        "y": 300,
        "wires": [
            [
                "859f99653d9e69c9"
            ]
        ]
    },
    {
        "id": "e8bc4361e2e9636b",
        "type": "inject",
        "z": "8729a9f4aa9668a1",
        "name": "Initialize",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 360,
        "wires": [
            [
                "eeea179225477eb8"
            ]
        ]
    },
    {
        "id": "eeea179225477eb8",
        "type": "function",
        "z": "8729a9f4aa9668a1",
        "name": "Initialize Count",
        "func": "flow.set('winCount', 0);\nflow.set('loseCount', 0);\nflow.set('count', 0);\nflow.set(\"iterations\",1000);\nmsg.payload={}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 360,
        "wires": [
            [
                "39038c4a94816134"
            ]
        ]
    },
    {
        "id": "39038c4a94816134",
        "type": "function",
        "z": "8729a9f4aa9668a1",
        "name": "Loop Control",
        "func": "let count = flow.get('count') || 0;\nlet iterations = flow.get('iterations');\ncount += 1;\nflow.set('count', count);\nmsg.count=count;\nif (count <= iterations) {\n    return [msg, null];\n} else {\n    return [null,msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 360,
        "wires": [
            [
                "c9f59c43f84cb2d9"
            ],
            [
                "a89dd7f71b094919"
            ]
        ]
    },
    {
        "id": "c9f59c43f84cb2d9",
        "type": "CHSH-randomise-xy",
        "z": "8729a9f4aa9668a1",
        "name": "Randomise XY",
        "x": 740,
        "y": 360,
        "wires": [
            [
                "b7c64ba741ca9f43"
            ]
        ]
    },
    {
        "id": "d71e096a4c3efddc",
        "type": "function",
        "z": "8729a9f4aa9668a1",
        "name": "Count Win/Lose",
        "func": "var winCount = flow.get('winCount') || 0;\nvar loseCount = flow.get('loseCount') || 0;\n\nif (msg.payload.result.result && typeof msg.payload.result.result === 'string') {\n    if (msg.payload.result.result.toLowerCase()== \"win\") {\n        winCount += 1;\n        flow.set('winCount', winCount);\n    } else if (msg.payload.result.result.toLowerCase()== \"lose\") {\n        loseCount += 1;\n        flow.set('loseCount', loseCount);\n    }\n}\n\nmsg.payload.winCount = winCount;\nmsg.payload.loseCount = loseCount;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 360,
        "wires": [
            [
                "39038c4a94816134"
            ]
        ]
    },
    {
        "id": "a89dd7f71b094919",
        "type": "function",
        "z": "8729a9f4aa9668a1",
        "name": "Calculate Win Percentage",
        "func": "let winCount = flow.get('winCount') || 0;\nlet iterations = flow.get('iterations') || 0;\n\nlet winPercentage = (winCount / iterations) * 100;\n\nreturn { payload: `Win Percentage: ${winPercentage}%` };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 360,
        "wires": [
            [
                "37eb7cbd746d6bc5"
            ]
        ]
    },
    {
        "id": "37eb7cbd746d6bc5",
        "type": "debug",
        "z": "8729a9f4aa9668a1",
        "name": "Win Percentage",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 360,
        "wires": []
    },
    {
        "id": "859f99653d9e69c9",
        "type": "function",
        "z": "8729a9f4aa9668a1",
        "name": "[DEBUG] Counter",
        "func": "let win = flow.get('winCount');\nlet lose = flow.get('loseCount');\nlet count = flow.get('count');\nlet percent = win / (win + lose);\nlet output = {\n    \"winCount\": win,\n    \"lostCount\": lose,\n    \"winPercentage\": percent,\n    \"iteration\": count\n};\n\n// Convert the output object to a JSON string\nlet outputString = JSON.stringify(output);\n\n// Log the JSON string\nconsole.log(\"[DEBUG]\" + outputString);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 360,
        "wires": [
            [
                "d71e096a4c3efddc"
            ]
        ]
    },
    {
        "id": "8d103f13db5e6ef1",
        "type": "inject",
        "z": "8729a9f4aa9668a1",
        "name": "Initialize",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 220,
        "y": 500,
        "wires": [
            [
                "5b3d86f8bbebda47"
            ]
        ]
    },
    {
        "id": "5b3d86f8bbebda47",
        "type": "function",
        "z": "8729a9f4aa9668a1",
        "name": "Initialize Count",
        "func": "flow.set('winCount', 0);\nflow.set('loseCount', 0);\nflow.set('count', 0);\nflow.set(\"iterations\",1000);\nmsg.payload={}\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 500,
        "wires": [
            [
                "8c551631bc86d657"
            ]
        ]
    },
    {
        "id": "8c551631bc86d657",
        "type": "function",
        "z": "8729a9f4aa9668a1",
        "name": "Loop Control",
        "func": "let count = flow.get('count') || 0;\nlet iterations = flow.get('iterations');\ncount += 1;\nflow.set('count', count);\nmsg.count=count;\nif (count <= iterations) {\n    return [msg, null];\n} else {\n    return [null,msg];\n}",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 500,
        "wires": [
            [
                "9be69a5d367d5b2f"
            ],
            [
                "ef6af989129ec3b4"
            ]
        ]
    },
    {
        "id": "9be69a5d367d5b2f",
        "type": "CHSH-randomise-xy",
        "z": "8729a9f4aa9668a1",
        "name": "Randomise XY",
        "x": 740,
        "y": 500,
        "wires": [
            [
                "10b01471530408c8"
            ]
        ]
    },
    {
        "id": "e9d6c7d7a36d7e12",
        "type": "function",
        "z": "8729a9f4aa9668a1",
        "name": "Count Win/Lose",
        "func": "var winCount = flow.get('winCount') || 0;\nvar loseCount = flow.get('loseCount') || 0;\n\nif (msg.payload.result.result && typeof msg.payload.result.result === 'string') {\n    if (msg.payload.result.result.toLowerCase()== \"win\") {\n        winCount += 1;\n        flow.set('winCount', winCount);\n    } else if (msg.payload.result.result.toLowerCase()== \"lose\") {\n        loseCount += 1;\n        flow.set('loseCount', loseCount);\n    }\n}\n\nmsg.payload.winCount = winCount;\nmsg.payload.loseCount = loseCount;\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1360,
        "y": 500,
        "wires": [
            [
                "8c551631bc86d657"
            ]
        ]
    },
    {
        "id": "ef6af989129ec3b4",
        "type": "function",
        "z": "8729a9f4aa9668a1",
        "name": "Calculate Win Percentage",
        "func": "let winCount = flow.get('winCount') || 0;\nlet iterations = flow.get('iterations') || 0;\n\nlet winPercentage = (winCount / iterations) * 100;\n\nreturn { payload: `Win Percentage: ${winPercentage}%` };",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1570,
        "y": 500,
        "wires": [
            [
                "97e84c4e9585c344"
            ]
        ]
    },
    {
        "id": "97e84c4e9585c344",
        "type": "debug",
        "z": "8729a9f4aa9668a1",
        "name": "Win Percentage",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1800,
        "y": 500,
        "wires": []
    },
    {
        "id": "8907771b6f9e048a",
        "type": "function",
        "z": "8729a9f4aa9668a1",
        "name": "[DEBUG] Counter",
        "func": "let win = flow.get('winCount');\nlet lose = flow.get('loseCount');\nlet count = flow.get('count');\nlet percent = win / (win + lose);\nlet output = {\n    \"winCount\": win,\n    \"lostCount\": lose,\n    \"winPercentage\": percent,\n    \"iteration\": count\n};\n\n// Convert the output object to a JSON string\nlet outputString = JSON.stringify(output);\n\n// Log the JSON string\nconsole.log(\"[DEBUG]\" + outputString);\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1170,
        "y": 500,
        "wires": [
            [
                "e9d6c7d7a36d7e12"
            ]
        ]
    },
    {
        "id": "10b01471530408c8",
        "type": "CHSH-game-quantum",
        "z": "8729a9f4aa9668a1",
        "name": "Quantum Stratergy",
        "x": 930,
        "y": 440,
        "wires": [
            [
                "8907771b6f9e048a"
            ]
        ]
    }
]